# CircleCI configuration file

version: 2.1

# Set up Python using circleci orb
orbs:
  python: circleci/python@2.1.1


jobs:
  build and test:
    executor: python/default
    steps:
      - run:
          git clone https://github.com/Vaas-d/pytest_api.git
      - python/install-packages:
          pkg-manager: pipenv

      - run:
          name: crate .env file
          command: |
            touch .env
            echo BASE_URL=$BASE_URL >> .env
            cat .env
      - run:
          name: Run tests
          command: python -m pytest

workflows:
  test_my_code:
    jobs:
      - build and test

