# CircleCI configuration file

version: 2.1

orbs:
  python: circleci/python@2.1.1

jobs:
  build and test:
    working_directory: ~/pytest_api
    executor: python/3.11.4-browsers
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pipenv

      - run:
          name: crate .env file
          command: |
            touch .env
            echo BASE_URL=$BASE_URL >> .env
            cat .env
      - run:
          name: Run tests
          command: pytest

workflows:
  test_my_code:
    jobs:
      - build and test:
          filters:
            branches:
              only: main

